CIRpy==1.0.2
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql-connector==2.2.9
python-http-client==3.3.2
sendgrid==6.6.0
SQLAlchemy==1.4.2
starkbank-ecdsa==1.1.0
Werkzeug==1.0.1
