{% extends 'base.html' %}

{% block title %}
Sign Up - 
{% endblock title %}

{% block body %}
<br><br><br> 

<form class="container" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    
  </div>
  
<center>
  <button type="submit" class="btn btn-primary">Submit</button>


</center>
</form>
<br><br><br>
{% endblock body %}