{% extends 'base.html' %}

{% block topright%}

{% if 'user' in  session %}
<span class="navbar-text">
         {{ session.name }}, {{ session.email }}
      </span><a class="btn btn-primary float-right" href="{{ url_for('signout') }}" role="button">Sign Out</a>
{% else %}
<a class="btn btn-primary float-right" href="{{ url_for('signin') }}" role="button">Sign In</a>
{% endif %}

{% endblock topright %}

{% block body%}
<br>
<br>
<br>
<br>

  <div class="container">
    <h1 class="display-1 text-center ">My Molecule</h1>
  </div>

<br>
<br>
<form method= "post">
<div class="container input-group input-group-lg ">
  
  <input type="text" class="form-control text-center" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Eg. H2O or water" name= "search_item" >
</div>
<br>

<center>
<button type="submit" class=" btn btn-primary btn-lg">Go !</button>
</center>

</form>
<br>
<br>
<br>
<br>


{% endblock body%}