{% extends 'base.html' %}

{% block title %}
Sign Up - 
{% endblock title %}
 
{% block body %}
<br><br><br> 

{% if alert == True %}
<div class="alert alert-warning alert-dismissible fade show container" role="alert">
  <strong>Invalid credentials!</strong> Please fill the below fields carefully and correct. Either password doesnt match or email already exists!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif sent==True %}
<div class="alert alert-warning alert-dismissible fade show container" role="alert">
  <strong>Verification link sent!</strong> Please check your email. Click on the link sent to verify your email. 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}


<form class="container" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="passwordcon">
  </div>

<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label ">Name</label>
  <input type="text" class="form-control container" id="basic-url" aria-describedby="basic-addon3" name="name">
</div>
<center>
  <button type="submit" class="btn btn-primary">Sign Up</button></center>
</form>


<center>
  <br><br><br>
  <p class="text-right">already have an account?
  <a class="btn btn-primary float-right" href="{{ url_for('signin') }}" role="button">Sign In</a></p>

</center>

<br><br><br>
{% endblock body %}