{% extends 'base.html' %}
 
{% block title %}
Sign In - 
{% endblock title %}

{% block body %}
<br><br><br> 

<form class="container" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <center>
  <div class="container">

  <button type="submit" class="btn btn-primary">Sign In</button></div></center></form>
    <center>
  <div class="container">
  <br><a href ="{{ url_for('forgotpassword') }}">Forgot Password?</a><br><br>
  <p class="text-right">New to My Molecule?
  <a class="btn btn-primary float-right" href="{{ url_for('signup') }}" role="button">Sign Up</a></p>

</div>
</center>



<br><br><br>
{% endblock body %}